header {
    background-color: blue;
    color:yellow;
    text-align: center;
    max-width: 800pX;
    margin: 0 auto;au
}
main{
    background-color: aquamariine;
    color;black;
    max: width 800px; ;
    margin:o auto:
}